{% extends 'store/admin_base.html' %}

{% block content %}

<h2>Payments Management</h2>

<table class="payment-table">

<thead>
<tr>
<th>Student</th>
<th>Project</th>
<th>Transaction ID</th>
<th>Amount</th>
<th>Payment Method</th>
<th>Date</th>
<th>Download</th>
</tr>
</thead>

<tbody>

{% for p in purchases %}

<tr>

<td>{{ p.student.username }}</td>

<td>{{ p.project.title }}</td>

<td>{{ p.transaction_id }}</td>

<td>₹{{ p.amount }}</td>

<td>{{ p.payment_method }}</td>

<td>{{ p.payment_date }}</td>

<td>
<a href="{{ p.project.drive_link }}" class="download-btn">Download</a>
</td>

</tr>

{% endfor %}

</tbody>

</table>

{% endblock %}