<h2>Project Details</h2>

<table border="1" cellpadding="10">

<tr>
<th>Image</th>
<td><img src="{{ project.image.url }}" width="150"></td>
</tr>

<tr>
<th>Title</th>
<td>{{ project.title }}</td>
</tr>

<tr>
<th>Description</th>
<td>{{ project.description }}</td>
</tr>

<tr>
<th>Category</th>
<td>{{ project.category }}</td>
</tr>

<tr>
<th>Price</th>
<td>₹{{ project.price }}</td>
</tr>

<tr>
<td colspan="2">

<a href="{% url 'edit_project' project.id %}">Edit</a>

<a href="{% url 'delete_project' project.id %}">Delete</a>

</td>
</tr>

</table>