{% extends 'user/user_base.html' %}
{% block content %}

<style>

/* PAGE CENTER */
.register-page{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:80vh;
}

/* CARD */
{% comment %} .register-container {
    width: 400px;
    padding: 35px;
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.1);
    animation: fadeIn 0.5s ease;
} {% endcomment %}

/* TITLE */
.register-container h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #0f4c81;
    font-weight: 600;
}

/* LABEL */
.register-container label {
    display: block;
    margin-top: 12px;
    font-weight: 500;
    color: #444;
    font-size:14px;
}

/* INPUT */
.register-container input,
.register-container select {
    width: 100%;
    padding: 10px 12px;
    margin-top: 6px;
    border-radius: 10px;
    border: 1px solid #ddd;
    outline: none;
    transition: 0.3s;
    font-size:14px;
}

.register-container input:focus,
.register-container select:focus {
    border-color: #0f4c81;
    box-shadow: 0 0 6px rgba(15,76,129,0.2);
}

/* BUTTON */
.register-container button {
    width: 100%;
    margin-top: 22px;
    padding: 11px;
    border: none;
    border-radius: 10px;

    background: linear-gradient(135deg,#0f4c81,#1e88e5);
    color: white;
    font-size: 15px;
    font-weight: 500;

    cursor: pointer;
    transition: 0.3s;
}

.register-container button:hover {
    background: linear-gradient(135deg,#0a2a43,#0f4c81);
}

/* ERROR */
.error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
    font-size:13px;
}

/* ANIMATION */
@keyframes fadeIn{
    from{opacity:0; transform:translateY(20px);}
    to{opacity:1; transform:translateY(0);}
}

</style>

<div class="register-page">

    <div class="register-container">

        <h2>Register</h2>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <label>Username</label>
            <input type="text" name="username" required>

            <label>Email</label>
            <input type="email" name="email" required>

            <label>Phone Number</label>
            <input type="text" name="phone number" required>

            <label>Password</label>
            <input type="password" name="password" required>

            <label>Confirm Password</label>
            <input type="password" name="confirm_password" required>

            <label>Select Role</label>
            <select name="role">
                <option value="STUDENT">Student</option>
                <option value="ADMIN">Admin</option>
            </select>

            <button type="submit">Register</button>
        </form>

    </div>

</div>

{% endblock %}