{% extends 'store/admin_base.html' %}
{% block content %}

<style>
    .page-title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    /* Table */

    .project-table {
        width: 100%;
        border-collapse: collapse;
        background: white;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    /* Table header */

    .project-table thead {
        background: #0f2d4a;
        color: white;
    }

    .project-table th {
        padding: 12px;
        text-align: center;
        font-size: 15px;
    }

    /* Table rows */

    .project-table td {
        padding: 12px;
        text-align: center;
        border-bottom: 1px solid #ddd;
        font-size: 14px;
    }

    /* Row hover */

    .project-table tbody tr:hover {
        background: #f5f7fb;
    }

    /* Project image */

    .project-img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 5px;
    }

    /* Buttons */

    .edit-btn {
        padding: 6px 12px;
        background: #28a745;
        color: white;
        text-decoration: none;
        border-radius: 4px;
        margin-right: 5px;
        font-size: 13px;
    }

    .edit-btn:hover {
        background: #218838;
    }

    .delete-btn {
        padding: 6px 12px;
        background: #dc3545;
        color: white;
        text-decoration: none;
        border-radius: 4px;
        font-size: 13px;
    }

    .delete-btn:hover {
        background: #c82333;
    }
</style>

<div class="project-container">

    <h2 style="font-size:28px; color:#2f5fd0; text-align:center; margin-bottom:20px; font-weight:bold;">
        Available Projects
    </h2>

    <table class="project-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Project Name</th>
                <th>Department</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.project_name }}</td>
                <td>{{ project.department }}</td>
                <td>₹ {{ project.price }}</td>
                <td>
                    <a href="{% url 'project' project.id %}" class="view-btn">View</a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>













































{% endblock %}