{% extends 'store/base.html' %}

{% block content %}



<div class="page-title">
    Projects
</div>

<table class="project-table">

    <thead>

        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Title</th>
            <th>Category</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>

    </thead>

    <tbody>

        {% for project in projects %}

        <tr>

            <td>{{ project.id }}</td>

            <td>
                <img src="{{ project.image.url }}" class="project-img">
            </td>

            <td>{{ project.title }}</td>

            <td>{{ project.category }}</td>

            <td>₹{{ project.price }}</td>

            <td>

                <a href="{% url 'edit_project' project.id %}" class="edit-btn">
                    Edit
                </a>

                <a href="{% url 'delete_project' project.id %}" class="delete-btn">
                    Delete
                </a>

            </td>

        </tr>

        {% empty %}

        <tr>
            <td colspan="6">No Projects Available</td>
        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}